/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

/* SITE-WIDE */
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-weight: 300;
}

img {
  width: 70%;
}
/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

figcaption {
  font-size: .8rem;
}

#title {
  font-weight: 900; 
  font-size: 4rem;
  font-style: italic;
}

.subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1rem;
  margin-top: -30px;
  text-transform: uppercase;
}

/* SECTIONS */
header {
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/grace-hopper-one.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 600px;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #fff;
}

#tribute-info { 
  padding: 150px;
  display: flex;
}

.tribute-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
}
.tribute-text {
  flex: 50%;
}

.section-two {
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 150px;
}

.section-two-text {
  flex: 50%;
}

.closing-section {
  padding: 150px;
}

#img-div {
  text-align: center;
}

#image {
  display: block;
  max-width: 600px;
}

/* IMAGE STYLING */
.tribute-img img {
  display: flex;
  transform: rotate(-5deg);
}

.section-two img {
  transform: rotate(5deg);
}

@media only screen and (max-width: 992px) {

  img {
    width: 100%;
  }
  #tribute-info {
    display: flex;
    flex-direction: column;
  }

  #tribute-info img {
    padding-bottom: 50px;
  }

  .section-two {
    display:flex;
    flex-direction: column;
  }

  .section-two img {
    padding-top: 50px;
  }

  .closing-section img {
    padding-top: 50px;
  }
}
