/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;0,700;1,400;1,700&family=Beth+Ellen&display=swap');

/* RESET */
body {
  padding: 0;
  margin: 0;
  font-family: "Bellota";
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Beth Ellen";
}

#title {
  color: #000;
  font-size: 3rem;
}

/* SECTIONS */
header {
  align-items: center;
  background: url("img/gradient.jpg");
  background-size: cover;
  display: flex;
  top: 0;
  height: 600px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#tribute-info {
  display: flex;
  padding: 50px;
}

.letter {
  flex-grow: 2 ;
}

/* IMAGE STYLING */
.polaroid {
  display: flex;
  justify-content: center;
}
.polaroid img {
  padding-top: 30px;
  transform: rotate(-12deg);
  width: 65%;
}


